/* Css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
    line-height: 1;
    height: 100vh;
    background-color: black;
    flex-direction: column;
}
body, 
.cell, 
.win-message {
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-board {
    background-color: white;
    height: 25rem;
    width: 25rem;
    display: grid;
    gap: .2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.cell {
    background-color: black;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.mark {
    font-size: 8.2rem;
    color: white;
}
.active-plr, 
.plrs-wrapper {
    font-size: large;
    font-family: Verdana, sans-serif;
    color: white;
    margin-top: 1rem;
}
.plrs-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
}

.plr1, 
.plr2 {
    padding: 1rem;
    border-radius: 1em;
}

.plr1 {
    background-color: white;
    color: black;
}

.plr1-score, 
.plr2-score, 
.win-message-text, 
.win-message button  {
    font-size: 1.5rem;
}


.win-message {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
}

.win-message-text, 
.win-message button {
    font-weight: 500;
}
.win-message-text {
    color: white;
}
.win-message button {
    height: 3rem;
    width: 8rem;
    background-color: white;
    border: none;
    margin-top: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}